

/*.aa{
	background-color:#DAD3E8;
	border:2px solid black;
	padding:10px;
	height:10px;
	margin:5px;
	font-size:150%;
	width:450px;
}*/
.aa{
	height:50px;
	width:400px;
	font-size:350%;
	color:blue;
	
}
h2{
	text-align: right;
}
